/*更改默认属性*/
 * {
    margin: 0;
    padding: 0;
}

nav {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 2%; */
    position: relative;
    background-image: linear-gradient(to right, #ae90cda8, #a886daa8, #9d7de3a8, #8e75efa8, #786efca8);
    /* background-image: linear-gradient(to right, #ae90cda8, #a886daa8, #9d7de3a8, #8e75efa8, #786efca8); */
    border-bottom: 1px solid rgba(72, 200, 212, 0.089);
}

nav .inner {
    /* 设置宽度为60%窗口高度 */
    width: 48%;
    height: 40px;
    /* 设置以百分比计的行高： */
    line-height: 30px;
    background-color: rgb(239, 227, 227);
    /* 盒子阴影 */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}


nav ul {
    list-style: none;
    display: flex;
}

nav .logo {
    margin-left: 200px;
    user-select: none;
    height: 200%;
    opacity: 0.7;
}



nav ul li {
    padding: 10px 30px;
    position: relative;
}

nav ul li a {
    display: flex;
    font-size: 18px;
    /* color: rgb(79, 68, 68); */
    text-decoration: none;
    transition: all 0.3s;
    position: relative;
    color: #333;
    font-weight: 500;
 
}

nav ul li a img {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}

nav ul li a span {
    color: #071f4e96;;
}

nav ul li a:hover {
        /*激活状态下的导航单元*/
        background-color: rgba(200, 187, 222, 0.675);
        border-bottom: 1px solid rgba(15, 3, 250, 0.371);
}

