/* 清楚所有默认样式 */
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}


section{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 5%;
    padding: 5%;
    background-color: rgb(239, 227, 227);
    border-radius: 10px;
    overflow: hidden;
    box-shadow:
        -0.7px -0.7px 2.5px rgba(0, 0, 0, 0.02),
        -0.2px -0.2px 6.1px rgba(0, 0, 0, 0.026),
        2.5px 2.5px 11.4px rgba(0, 0, 0, 0.03),
        9.3px 9.4px 20.3px rgba(0, 0, 0, 0.034);
}
h2{
    color: #071f4e96;
}


/* 表格样式 */
table {
    margin-left: 100px;
    margin-right: 100px;
    border: 2px black solid;
    caption-side: bottom;
    /* 合并各单元格之间的空隙 */
    border-collapse: collapse;
    width: 800px;
    text-align: center;
}
tr td {
    border: 2px black solid;
}

table tr td img{
    width: 100px;
    height: 145px;
}